@use 'sass:math';
.blog-post {
  max-width: 800px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.blog-post .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
}

.blog-post .divider .div-t {
  height: 3rem;
  width: 1px;
  background: #90919e;
}

.blog-post .divider .date {
  margin: 0 auto;
  width: 5ch;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 1rem;
  color: #90919e;
}

.blog-post .divider .div-b {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1px;
  background: #90919e;
}

.blog-post .post-content {
  padding-left: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

.blog-post .post-content .title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.blog-post .post-content .rich-content {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.blog-post .post-content .post-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 1rem 0;
  color: #90919e;
}

.blog-post .post-content .post-link-container .post-link {
  text-decoration: underline;
  font-weight: bold;
}

.blog-post .post-content .blog-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.blog-post .post-content .blog-paragraph {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-weight: 500;
}

.blog-post .post-content .word-count {
  color: #4d4f63;
  font-weight: 500;
  padding: 1rem 0 2rem 0;
}

.blog-post-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.875rem;
  margin-top: 0.1rem;
}

.blog-post-logo .love {
  color: #ff7c7c;
}

.blog-post-logo .init {
  color: #ffd082;
}

.blog-post-logo .edit {
  color: #88e1f2;
}

.blog-post-logo .code {
  color: #bf00ff;
}

.blog-post-logo .save {
  color: #90ee90;
}

.blog-post-logo .book {
  color: #c85c5c;
}

@media screen and (min-width: 768px) {
  .blog-post {
    max-width: 800px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-post .divider .date {
    font-size: 1.125rem;
    color: #90919e;
  }
  .blog-post .divider .div-b {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1px;
    background: #90919e;
  }
  .blog-post .post-content {
    padding-left: 4rem;
    padding-bottom: 2rem;
    width: 100%;
  }
  .blog-post .post-content .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }
}
/*# sourceMappingURL=blog-post.css.map */