@import '../util/vars.scss';

.blog-post {
  position: relative;
  max-width: 800px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-right: 1rem;
  // background: red;
  .divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4rem;

    .date {
      margin: 0 auto;
      width: 5ch;
      height: fit-content;
      text-align: center;
      padding: 0.5rem 0;
      font-weight: 500;
      font-size: 1rem;
      color: $muted-text;
    }
    .div-b {
      flex: 1;
      width: 2px;
      background: $muted-border;
    }

    @media screen and (max-width: 768px) {
      width: 2rem;

      .date {
        margin-top: 2rem;
        width: 4ch;

        font-size: 0.7rem;
      }
    }
  }
  .post-content {
    // padding-top: 3.5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    // min-width: 90%;
    .title {
      // margin-top: 3.5rem;
      align-items: center;
      display: flex;
      gap: 1rem;
      font-size: 1.7rem;
      font-weight: 700;
      padding-bottom: 2rem;
    }
    .rich-content {
      font-size: toRem(16);
      margin-top: 0.5rem;
      font-weight: 500;
    }
    .post-link-container {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin: 1rem 0 1rem 0;
      color: $border-color;
      .post-link {
        text-decoration: underline;
        font-weight: bold;
      }
    }
    .img-container {
      position: relative;
      // object-fit: contain;
      width: 100%;
      height: 100%;
      max-width: 600px;
    }
    .blog-paragraph {
      font-size: 1rem;
      padding: 0;
      margin: 0;
      padding-bottom: 1rem;
      line-height: 2rem;
      font-weight: 500;
      width: 100%;
      word-wrap: break-word;
    }
    .word-count {
      color: $muted-text;
      font-weight: 500;
      padding: 2rem 0 2rem 0;
    }
  }

  h6 {
    background: $tertiary-background;
    border-left: 2px solid $tertiary;
    // white-space: pre-line;
    white-space: pre-wrap;
    color: $secondary-text;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 0.9rem !important;
    font-weight: 400;
    line-height: 1.6;
    width: 100%;
    margin: 0.5rem 0 1.5rem;
    max-width: 600px;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }
  p code {
    background: $primary-background;
    font-size: 0.9rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  @media screen and (max-width: 768px) {
  }
}

.blog-post-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: toRem(30);
  margin-top: 0.1rem;
  .love {
    color: $primary;
  }
  .init {
    color: $secondary;
  }
  .edit {
    color: $tertiary;
  }
  .code {
    color: $purple;
  }
  .save {
    color: $green;
  }
  .book {
    color: $red;
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .blog-post {
    max-width: 800px;
    width: 80%;
    display: flex;
    .divider {
      .date {
        font-size: toRem(18);
        color: $border-color;
      }
    }
    .post-content {
      padding-left: 4rem;
      padding-bottom: 0rem;
      width: 100%;
      .title {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 2rem;
      }
    }
  }
}
