@import '../util/vars.scss';
@import '../util/functions.scss';

.nav {
  z-index: -1;

  height: $nav-height;
  width: $nav-width;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: $nav-margin-height;

  background: none;

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    .logo-container,
    .hamburger-container {
      z-index: 15;
      cursor: pointer;
    }
    .logo-container {
      .logo {
        height: $nav-height;
      }
    }
    .hamburger-container {
      color: $secondary;
    }
    .hamburger-container.show {
      color: $primary-background;
    }
  }

  .nav-links {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translate3d(100%, 0, 0);
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(65);
    height: 100vh;
    width: 100%;
    padding-top: $nav-height + $nav-margin-height + $px-100;

    background: $secondary;
    color: $primary-background;
    font-size: toRem(24);

    transition: all 0.5s ease;
  }
  .nav-links.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    .nav-header {
      .hamburger-container {
        display: none;
      }
    }
    .nav-links {
      position: relative;
      transform: translate3d(0, 0, 0);

      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: toRem(33);
      height: $nav-height;
      width: 100%;
      padding: 0;
      margin: 0;

      background: none;
      color: $secondary;
      font-size: toRem(18);
      opacity: 1;
    }
  }
  @media screen and (min-width: 1200px) {
    .nav-links {
      gap: toRem(60);
      font-size: toRem(20);
    }
  }
}
