@import '../util/vars.scss';
@import '../util/functions.scss';

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    color: $primary;
    font-size: toRem(160);
    border-bottom: 1px solid white;
    padding: 0;
    margin: 1rem;
  }
  h2 {
    font-size: toRem(40);
    margin-bottom: 4rem;
  }
}
