@use 'sass:math';
@use 'sass:math';
body {
  padding: 0 !important;
  margin: 0 !important;
  color: #ffffff !important;
  background: #21243d !important;
  width: 100% !important;
  z-index: -1 !important;
}

html,
body {
  position: relative !important;
  overflow-x: hidden !important;
  height: 100% !important;
}

#__next {
  background: rgba(0, 0, 0, 0) !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif !important;
}

h1,
h2 {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500 !important;
  padding-bottom: 1.25rem !important;
}

h1 {
  font-size: 2.25rem !important;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem !important;
  }
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: bold !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.125rem !important;
  color: #d6d6d6 !important;
  line-height: 150% !important;
  max-width: 600px !important;
}

label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

input,
textarea {
  outline: none !important;
  border: none !important;
  background: #21243d !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 0.875rem !important;
  padding: 0.3125rem !important;
}

input {
  height: 45px !important;
}

button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
  color: inherit !important;
}

.action-btn {
  color: #21243d;
  background: #ffd082;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 15px 20px;
  margin-top: 2.1875rem;
}

@media screen and (min-width: 1200px) {
  .action-btn {
    font-size: 1.5rem;
  }
}

.page {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.section {
  width: 90%;
  margin: 0 auto;
}

.highlight {
  color: #ff7c7c;
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #21243d inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeinup {
  opacity: 0;
  -webkit-animation: fadeInUp 1s ease-out;
          animation: fadeInUp 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  /* FF 5+ */
  /* Not implemented yet */
  /* IE 10+ */
  animation-fill-mode: forwards;
  /* When the spec is finished */
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeindown {
  opacity: 0;
  -webkit-animation: fadeInDown 1s ease-out;
          animation: fadeInDown 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  /* FF 5+ */
  /* Not implemented yet */
  /* IE 10+ */
  animation-fill-mode: forwards;
  /* When the spec is finished */
}

@-webkit-keyframes fadeInRightPage {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  70% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRightPage {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  70% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeinrightpage {
  opacity: 0;
  -webkit-animation: fadeInRightPage 0.5s ease-in-out;
          animation: fadeInRightPage 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  /* FF 5+ */
  /* Not implemented yet */
  /* IE 10+ */
  animation-fill-mode: forwards;
  /* When the spec is finished */
}

@-webkit-keyframes fadeOutRightPage {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRightPage {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.fadeoutrightpage {
  opacity: 1;
  -webkit-animation: fadeOutRightPage 0.5s ease-in-out;
          animation: fadeOutRightPage 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  /* FF 5+ */
  /* Not implemented yet */
  /* IE 10+ */
  animation-fill-mode: forwards;
  /* When the spec is finished */
}
/*# sourceMappingURL=globals.css.map */