@import './util/vars.scss';
@import './util/functions.scss';

body {
  padding: 0 !important;
  margin: 0 !important;
  color: $white !important;
  background: $primary-background !important;
  width: 100% !important;
  z-index: -1 !important;
}
html,
body {
  position: relative !important;
  overflow-x: hidden !important;
  height: 100% !important;
}
#__next {
  background: rgba(0, 0, 0, 0) !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif !important;
}

h1,
h2 {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500 !important;
  padding-bottom: $title-content-padding !important;
}

h1 {
  font-size: toRem(36) !important;
  @media screen and (min-width: 1200px) {
    font-size: toRem(48) !important;
  }
}

h2 {
  font-size: toRem(24) !important;
}
h3 {
  font-size: toRem(20) !important;
  font-weight: bold !important;
}
p {
  padding: 0 !important;
  margin: 0 !important;
  font-size: toRem(18) !important;
  color: $secondary-text !important;
  line-height: 150% !important;
  max-width: 600px !important;
}

label {
  display: flex !important;
  flex-direction: column !important;
}
input,
textarea {
  outline: none !important;
  border: none !important;
  background: $primary-background !important;
  border-radius: $border-radius !important;
  color: white !important;
  font-size: toRem(14) !important;
  padding: toRem(5) !important;
}
input {
  height: 45px !important;
}

button {
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
  color: inherit !important;
}
.action-btn {
  color: $primary-background;
  background: $secondary;

  border-radius: $border-radius;

  font-weight: bold;
  font-size: toRem(18);
  padding: 15px 20px;

  margin-top: toRem(35);
  @media screen and (min-width: 1200px) {
    font-size: toRem(24);
    // padding: 15px 20px;
  }
}

.page {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  // padding-top: $nav-height + $nav-margin-height;
}
.section {
  width: 90%;
  margin: 0 auto;
}
.highlight {
  color: $primary;
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $primary-background inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeinup {
  opacity: 0;
  animation: fadeInUp 1s ease-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeindown {
  opacity: 0;
  animation: fadeInDown 1s ease-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}

@keyframes fadeInRightPage {
  from {
    transform: translate3d(100%, 0, 0);
  }
  70% {
    opacity: 1;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeinrightpage {
  opacity: 0;
  animation: fadeInRightPage 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}
@keyframes fadeOutRightPage {
  from {
    transform: translate3d(0, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}
.fadeoutrightpage {
  opacity: 1;
  animation: fadeOutRightPage 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}
