@import './util/vars.scss';
@import './util/functions.scss';

body {
  position: relative;
  z-index: -1;
  width: 100%;
  color: $white;
  background: $primary-background;
}
html,
body {
  // position: relative;
  overflow-x: hidden;
  // overflow: hidden;
  height: 100%;
}
html {
  overflow-y: hidden;
}
body {
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $primary-background;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 5px;
  }
}
#__next {
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  padding: 0;
  padding-bottom: $title-content-padding;
  margin: 0;

  font-weight: 500;
}

h1 {
  font-size: toRem(36);

  @media screen and (min-width: 1200px) {
    font-size: toRem(48) !important;
  }
}

h2 {
  font-size: toRem(24);
}
h3 {
  font-size: toRem(20);
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
  max-width: 600px;

  line-height: 150%;

  font-size: toRem(18);
  color: $secondary-text;
}

label {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: toRem(5);
  border: none;
  border-radius: $border-radius;
  outline: none;

  background: $primary-background;
  color: white;
  font-size: toRem(14);
}
input {
  height: 45px;
}

button {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  outline: none;

  color: inherit;

  cursor: pointer;
}
.action-btn {
  padding: 15px 20px;
  margin-top: toRem(35);
  border-radius: $border-radius;

  background: $secondary;
  color: $primary-background;
  font-weight: bold;
  font-size: toRem(18);

  @media screen and (min-width: 1200px) {
    font-size: toRem(24);
  }
}

.page {
  position: relative;
  padding-top: $nav-margin-height + $nav-height;
  // position: absolute;
  // z-index: -1;
  // top: 0;
  // left: 0;
  // right: 0;
  // height: 100%;
  // width: 100%;
}
.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.section {
  width: 90%;
  margin: 0 auto;
}
.highlight {
  color: $primary;
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $primary-background inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeinup {
  opacity: 0;
  animation: fadeInUp 1s ease-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeindown {
  opacity: 0;
  animation: fadeInDown 1s ease-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}

@keyframes fadeInRightPage {
  from {
    transform: translate3d(100%, 0, 0);
  }
  70% {
    opacity: 1;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeinrightpage {
  opacity: 0;
  animation: fadeInRightPage 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}
@keyframes fadeOutRightPage {
  from {
    transform: translate3d(0, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}
.fadeoutrightpage {
  opacity: 1;
  animation: fadeOutRightPage 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}

.app,
.layout {
  height: 100%;
  width: 100%;
}
.app.loading {
  .layout {
    display: none;
  }
  .loader {
    opacity: 1;
    z-index: 10;
  }
}
.app .loader {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $primary-background;
  // background: red;
  opacity: 0;
  transition: opacity 0.2s linear;
}
