@import './util/vars.scss';
@import './util/functions.scss';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$nav-height} - #{$nav-margin-height});
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
