@import '../util/vars.scss';
@import '../util/functions.scss';

.projects-page {
  padding-top: $nav-height + $nav-margin-height;

  h1 {
    margin: 0;
    margin-top: toRem(40);

    text-align: center;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    margin: 0;
    padding: 0;
    margin-top: toRem(30);
    width: 100%;

    .project-item {
      // padding-bottom: toRem(25);
      // margin: 0 auto;
      width: 100%;
    }
  }

  .prompt {
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
    margin-top: toRem(60);

    background: $secondary-background;
    text-align: center;

    h1 {
      width: 90%;
      margin: 0 auto;

      color: $primary;
    }
    p {
      width: 90%;
      .contact-btn {
        display: block;

        color: $tertiary;
        text-decoration: underline;
      }
    }
    .contact-btn {
      padding: toRem(15) toRem(20);
      margin-top: toRem(35);

      font-size: toRem(20);
      background: $secondary;
      color: $primary-background;
      font-weight: 600;
      border-radius: $border-radius;
    }
  }

  @media screen and (min-width: 768px) {
    .projects-container {
      grid-template-columns: 1fr 1fr;
      gap: toRem(60);
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
    .prompt {
      padding: 4rem 0;
    }
  }
  @media screen and (min-width: 1200px) {
    h1 {
      margin-top: toRem(60);
    }
    .projects-container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: toRem(90);
      margin-top: toRem(60);
    }
    .prompt {
      margin-top: toRem(100);
    }
  }
}
