@import '../util/vars.scss';
@import '../util/functions.scss';

.contact-page {
  min-height: 970px;
  padding-top: $nav-height + $nav-margin-height;

  .info {
    width: 90%;
    margin: 0 auto;

    .img-container {
      position: relative;

      width: 225px;
      margin: 0 auto;
      margin-top: toRem(40);
      margin-bottom: toRem(30);

      animation-delay: 0.4s;
    }
    .content {
      .text {
        font-size: toRem(18);
      }
      h1 {
        animation-delay: 0.6s;
      }
      p {
        animation-delay: 0.8s;
      }
      .contact-info {
        display: flex;
        gap: toRem(20);
        margin: 0 auto;
        margin-top: toRem(25);

        .email {
          display: flex;
          align-items: center;
          gap: toRem(10);

          color: $secondary-text;
          animation-delay: 1s;

          img {
            height: 20px;
          }
          span {
            display: none;
          }
        }
        .social-icons {
          display: flex;
          gap: toRem(20);

          animation-delay: 1s;
          cursor: pointer;
          .icon {
            position: relative;

            height: 20px;
          }
          .tooltiptext {
            z-index: 5;
            position: absolute;
            top: 125%;
            left: 50%;
            visibility: hidden;

            width: 70px;
            margin-left: -35px;
            padding: 5px 0;
            border-radius: 6px;

            background-color: $secondary;
            color: $primary-background;
            text-align: center;
          }
          :hover .tooltiptext {
            visibility: visible;
          }
        }
      }
    }
  }
  .form-container {
    width: 100%;
    margin-top: toRem(50);

    background: $secondary-background;

    .form {
      width: 90%;
      max-width: 500px;
      padding: toRem(50) 0;
      margin: 0 auto;

      form {
        .names {
          display: flex;
          justify-content: space-between;
          gap: toRem(35);

          animation-delay: 1.2s;

          label {
            flex: 1;
          }
        }
        .email {
          animation-delay: 1.4s;
        }
        .subject {
          animation-delay: 1.6s;
        }
        .message {
          animation-delay: 1.8s;
        }
        label {
          padding-bottom: toRem(30);

          font-size: toRem(12);
          color: $secondary-text;

          input,
          textarea {
            width: 100%;
            margin-top: toRem(5);
          }
        }
        .action-btn {
          margin: 0;

          filter: brightness(60%);
          animation-delay: 2s;
        }
      }
      form:valid .action-btn {
        opacity: 1;
        filter: brightness(100%);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: toRem(120) auto;

      .info-inner {
        display: flex;
        align-items: center;
        gap: toRem(40);
      }
      .img-container {
        width: 340px;
      }
      .img-container {
        padding: 0;
        margin: 0;
      }
      .content {
        max-width: 400px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    margin: 0;

    .info {
      flex: 1;
      justify-content: center;
      align-items: center;

      .info-inner {
        display: flex;
        flex-direction: column-reverse;
      }

      .img-container {
        height: fit-content;
        width: 500px;
        padding: 0;
        margin: 0;

        animation-delay: 1s;
      }
      .content {
        max-width: 500px;

        .contact-info {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4rem;
          padding-bottom: 2rem;
          padding-top: 4rem;
          margin: 0 auto;

          h1 {
            animation-delay: 0.6s;
          }
          p {
            animation-delay: 0.8s;
          }
          .email {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            gap: toRem(10);
            padding: 0;

            color: $secondary-text;
            font-size: toRem(18);
            animation-delay: 1.4s;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            span {
              display: block;
            }
          }
          .social-icons {
            flex: 1;
            gap: toRem(30);
            height: fit-content;
            padding: 0;
            margin: 0;

            animation-delay: 1.4s;

            .icon {
              height: 20px;
            }
          }
        }
      }
    }

    .form-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      .form {
        form {
          .names {
            animation-delay: 0.6s;
          }
          .email {
            animation-delay: 0.8s;
          }
          .subject {
            animation-delay: 1s;
          }
          .message {
            animation-delay: 1.2s;
          }
          .action-btn {
            animation-delay: 1.4s;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1345px) {
    .info {
      flex: 1;
      justify-content: flex-start;
      align-items: center;

      .info-inner {
        margin-left: calc((100vw - #{$max-width}) / 2);
      }
    }
    .form-container {
      flex: 1;
      justify-content: flex-start;

      .form {
        justify-content: flex-start;
        margin-right: calc((100vw - #{$max-width}) / 2);
      }
    }
  }
}
