@import '../util/vars.scss';
@import '../util/functions.scss';

.home-page {
  overflow: hidden;
  height: 100%;
  .container {
    position: relative;
    height: calc(100vh - #{$nav-height} - #{$nav-margin-height});
    display: flex;
    align-items: center;
    max-width: $max-width;

    .content {
      z-index: 5;

      width: 75%;
      max-width: 375px;
      p {
        font-weight: 400;
      }
    }
    .logo {
      position: absolute;
      z-index: 2;
      left: 50%;

      opacity: 0.9;
    }
  }
  .background-icons {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;

    height: 100%;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    .icons {
      height: 100%;
      width: 100%;
    }
  }
  .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: 0 auto;
    width: 90%;
    max-width: $max-width;
  }

  @media screen and (min-width: 618px) {
    .container {
      justify-content: space-evenly;

      .content {
        width: 350px;

        h1 {
          width: fit-content;
        }
        p {
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }
    .logo {
      position: relative !important;
      left: 0 !important;

      opacity: 1 !important;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      justify-content: flex-start;

      .content {
        width: 70%;
        max-width: 70% !important;

        p {
          padding: 0 !important;
          margin: 0 !important;
          max-width: 500px;

          font-size: toRem(20);
        }
      }
    }
    .logo {
      position: relative !important;
      z-index: 5;
      left: 0 !important;

      opacity: 1 !important;
    }
  }
}

.background-icons-container {
  position: absolute;
  top: 0;
  left: 0;
  // overflow: hidden;

  height: 100%;
  width: 100%;
}

.item {
  position: absolute;

  height: 20px;
  width: 20px;

  opacity: 0.5;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  pointer-events: none;
}
