@import '../util/vars.scss';
@import '../util/functions.scss';

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  h1 {
    padding: 0;
    margin: 1rem;
    border-bottom: 1px solid white;

    color: $primary;
    font-size: toRem(160);
  }
  h2 {
    margin-bottom: 4rem;
    font-size: toRem(40);
  }
}
