@import '../util/vars.scss';
@import '../util/functions.scss';

.about-page {
  p {
    max-width: 600px;
    line-height: 150%;
  }
  .about {
    max-width: $max-width;
    padding-bottom: toRem(60);

    .about-img-container {
      display: flex;
      justify-content: center;
      width: 210px;
      height: 210px;
      margin: toRem(30) auto;
    }
    .text {
      padding-bottom: toRem(10);
    }
    p:last-of-type {
      padding: 0;
    }
  }
  .skills {
    padding-top: toRem(60);
    padding-bottom: toRem(120);
    border-top: 1px solid $primary;

    .text {
      color: $secondary-text;
    }
    .skills-container {
      display: grid;
      justify-items: center;
      gap: toRem(20);
      margin-top: toRem(50);

      .skill-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        padding: toRem(45) 5%;
        border-radius: 10px;

        background: $secondary-background;

        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 120px;
          width: 120px;
          margin-bottom: toRem(50);
          border-radius: 50%;

          background: $tertiary-background;
        }
        .skill-title {
          padding-bottom: toRem(30);
        }
        .skill-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: toRem(15);

          font-size: toRem(14);

          .skill-item {
            padding: 10px 20px;
            border-radius: 20px;

            background: $tertiary-background;
            color: $secondary-text;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .about {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: calc(100vh - #{$nav-height} - #{$nav-margin-height});
      padding-bottom: 5%;

      .about-img-container {
        flex-shrink: 0;
        height: 280px;
        width: 280px;
      }
      .text {
        max-width: 375px;
        font-size: toRem(14);
      }
      .about-content {
        flex: 3;
      }
    }
    .skills {
      padding-top: 10%;
      margin-top: 0;
      text-align: center;

      .skills-container {
        .skill-box {
          padding-bottom: toRem(60);
        }
      }
      .text {
        margin: 0 auto;
      }
    }
  }
  @media screen and (min-width: 816px) {
    .about {
      .about-img-container {
        height: 310px;
        width: 310px;
      }
      .text {
        max-width: 400px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .about {
      .about-img-container {
        height: 400px;
        width: 400px;
      }
      .text {
        max-width: 500px;
        font-size: toRem(18);
      }
    }
    .skills {
      max-width: $max-width;

      .text {
        max-width: 80%;
      }
      .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: toRem(30);
        margin-top: toRem(100);
      }
    }
  }
}
