@import './functions.scss';

$primary: #ff7c7c;
$secondary: #ffd082;
$tertiary: #88e1f2;

$white: #ffffff;
$secondary-text: #d6d6d6;
$tertiary-text: #575ea1;
$quaternary-text: #3c416f;

$primary-background: #21243d;
$secondary-background: #1b1e34;
$tertiary-background: #131524;

// Dimentions
$max-width: 1200px;

$px-100: 6.25rem;

// Navbar
$nav-height: 2rem;
$nav-width: 90%;
$nav-margin-height: 2.25rem;

$border-radius: 10px;

// Fonts
$font: 'Montserrat', sans-serif;

$title-content-padding: toRem(20);
