@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.about-page {
  padding-top: 4.25rem;
}

.about-page p {
  line-height: 150%;
  max-width: 600px;
}

.about-page .about {
  max-width: 1200px;
  padding-bottom: 3.75rem;
}

.about-page .about .about-img-container {
  width: 210px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.875rem auto;
}

.about-page .about .text {
  padding-bottom: 0.625rem;
}

.about-page .about p:last-of-type {
  padding: 0;
}

.about-page .skills {
  border-top: 1px solid #ff7c7c;
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.about-page .skills .text {
  color: #d6d6d6;
}

.about-page .skills .skills-container {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  margin-top: 3.125rem;
  justify-items: center;
}

.about-page .skills .skills-container .skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 2.8125rem 5%;
  max-width: 500px;
  width: 100%;
  background: #1b1e34;
}

.about-page .skills .skills-container .skill-box .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #131524;
  margin-bottom: 3.125rem;
}

.about-page .skills .skills-container .skill-box .skill-title {
  padding-bottom: 1.875rem;
}

.about-page .skills .skills-container .skill-box .skill-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
  font-size: 0.875rem;
}

.about-page .skills .skills-container .skill-box .skill-items .skill-item {
  padding: 10px 20px;
  border-radius: 20px;
  background: #131524;
  color: #d6d6d6;
}

@media screen and (min-width: 768px) {
  .about-page .about {
    height: calc(100vh - 2rem - 2.25rem - 10%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5%;
  }
  .about-page .about .about-img-container {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 280px;
    height: 280px;
  }
  .about-page .about .text {
    max-width: 375px;
    font-size: 0.875rem;
  }
  .about-page .about .about-content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .about-page .skills {
    margin-top: 0;
    padding-top: 10%;
    text-align: center;
  }
  .about-page .skills .skills-container .skill-box {
    padding-bottom: 3.75rem;
  }
  .about-page .skills .text {
    margin: 0 auto;
  }
}

@media screen and (min-width: 816px) {
  .about-page .about .about-img-container {
    width: 310px;
    height: 310px;
  }
  .about-page .about .text {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .about-page .about {
    height: calc(100vh - 2rem - 2.25rem);
  }
  .about-page .about .about-img-container {
    width: 400px;
    height: 400px;
  }
  .about-page .about .text {
    max-width: 500px;
    font-size: 1.125rem;
  }
  .about-page .skills {
    max-width: 1200px;
  }
  .about-page .skills .text {
    max-width: 80%;
  }
  .about-page .skills .skills-container {
    margin-top: 6.25rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1.875rem;
  }
}
/*# sourceMappingURL=about.css.map */