@import './vars.scss';
@import './functions.scss';

.contact-page {
  padding-top: $nav-height + $nav-margin-height;
  min-height: 970px;

  .info {
    margin: 0 auto;
    width: 90%;
    .img-container {
      width: fit-content;
      margin: 0 auto;
      margin-top: toRem(40);
      margin-bottom: toRem(30);
      img {
        object-fit: contain;
        width: 225px;
      }
    }
    .content {
      .text {
        font-size: toRem(18);
      }
      .contact-info {
        display: flex;
        // justify-content: center;

        margin: 0 auto;
        margin-top: toRem(25);
        gap: toRem(20);
        // width: 100%;
        .email {
          display: flex;
          align-items: center;
          gap: toRem(10);
          color: $secondary-text;
          img {
            height: 20px;
          }
          span {
            display: none;
          }
        }
        .social-icons {
          display: flex;
          gap: toRem(20);
          // margin-top: toRem(30);
          .icon {
            height: 20px;
          }
        }
      }
    }
  }
  .form-container {
    // min-height: 970px;
    width: 100%;
    background: $secondary-background;
    margin-top: toRem(50);

    .form {
      max-width: 500px;
      width: 90%;
      margin: 0 auto;
      padding: toRem(50) 0;
      form {
        .names {
          display: flex;
          justify-content: space-between;
          gap: toRem(35);
          label {
            flex: 1;
          }
        }
        label {
          font-size: toRem(12);
          color: $secondary-text;
          padding-bottom: toRem(30);
          input,
          textarea {
            margin-top: toRem(5);
            width: 100%;
          }
        }
        .action-btn {
          margin: 0;
          opacity: 0.5;
        }
      }
      form:valid .action-btn {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .info {
      margin: toRem(120) auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(80);
      .info-inner {
        display: flex;
      }
      .img-container {
        img {
          width: 340px;
        }
      }
      .flex-box {
        // width: fit-content;
      }
      .img-container {
        padding: 0;
        margin: 0;
      }
      .content {
        max-width: 400px;
      }
    }
    .form-container {
      .form {
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    margin: 0;

    .info {
      flex: 1;
      justify-content: center;
      align-items: center;
      .info-inner {
        display: flex;
        flex-direction: column-reverse;
      }

      .img-container {
        margin-top: toRem(50);
        img {
          width: 500px;
        }
      }
      .content {
        max-width: 500px;

        .contact-info {
          display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 2rem;
          left: 0;
          right: 0;
          margin: 0 auto;
          gap: 4rem;
          // width: 100%;
          .email {
            display: flex;
            justify-content: flex-end;
            font-size: toRem(18);
            // margin-bottom: toRem(30);
            gap: toRem(10);
            padding: 0;
            flex: 1;
            color: $secondary-text;
            span {
              display: block;
            }
          }
          .social-icons {
            flex: 1;
            padding: 0;
            gap: toRem(30);
            margin: 0;
            .icon {
              height: 20px;
            }
          }
        }
      }
    }

    .form-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      margin: 0;
      .form {
        .email {
          justify-content: start;
        }
      }
    }
  }
  @media screen and (min-width: 1345px) {
    .info {
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      .info-inner {
        margin-left: calc((100vw - #{$max-width}) / 2);
      }
    }
    .form-container {
      justify-content: flex-start;
      flex: 1;
      .form {
        justify-content: flex-start;
        margin-right: calc((100vw - #{$max-width}) / 2);
      }
    }
  }
}
