@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.contact-page {
  padding-top: 4.25rem;
  min-height: 970px;
}

.contact-page .info {
  margin: 0 auto;
  width: 90%;
}

.contact-page .info .img-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

.contact-page .info .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 225px;
}

.contact-page .info .content .text {
  font-size: 1.125rem;
}

.contact-page .info .content .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  margin-top: 1.875rem;
}

.contact-page .form-container {
  width: 100%;
  background: #1b1e34;
  margin-top: 3.125rem;
}

.contact-page .form-container .form {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 3.125rem 0;
}

.contact-page .form-container .form .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 1.875rem;
  color: #d6d6d6;
}

.contact-page .form-container .form form .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.1875rem;
}

.contact-page .form-container .form form .names label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-page .form-container .form form label {
  font-size: 0.75rem;
  color: #d6d6d6;
  padding-bottom: 1.875rem;
}

.contact-page .form-container .form form label input,
.contact-page .form-container .form form label textarea {
  margin-top: 0.3125rem;
  width: 100%;
}

.contact-page .form-container .form form .action-btn {
  margin: 0;
  opacity: 0.5;
}

.contact-page .form-container .form form:valid .action-btn {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .contact-page .info {
    margin: 7.5rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
  .contact-page .info .img-container img {
    width: 340px;
  }
  .contact-page .info .img-container {
    padding: 0;
    margin: 0;
  }
  .contact-page .info .content {
    max-width: 400px;
  }
  .contact-page .form-container .form .email {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.125rem;
    margin-bottom: 2.1875rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .contact-page .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-page .info .info-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-page .info .img-container {
    margin-top: 3.125rem;
  }
  .contact-page .info .img-container img {
    width: 500px;
  }
  .contact-page .info .content {
    max-width: 500px;
  }
  .contact-page .info .content .social-icons {
    position: absolute;
    bottom: 2rem;
    gap: 1.875rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contact-page .info .content .social-icons .icon {
    height: 25px;
  }
  .contact-page .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    margin: 0;
  }
  .contact-page .form-container .form .email {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 1345px) {
  .contact-page .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact-page .info .info-inner {
    margin-left: calc((100vw - 1200px) / 2);
  }
  .contact-page .form-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact-page .form-container .form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: calc((100vw - 1200px) / 2);
  }
}
/*# sourceMappingURL=contact.css.map */