@import './vars.scss';
@import './functions.scss';

.contact-page {
  padding-top: $nav-height + $nav-margin-height;
  min-height: 970px;

  .info {
    margin: 0 auto;
    width: 90%;
    .img-container {
      width: fit-content;
      margin: 0 auto;
      margin-top: toRem(40);
      margin-bottom: toRem(30);

      img {
        object-fit: contain;
        width: 225px;
        animation-delay: 0.4s;
      }
    }
    .content {
      .text {
        font-size: toRem(18);
      }
      h1 {
        animation-delay: 0.6s;
      }
      p {
        animation-delay: 0.8s;
      }
      .contact-info {
        display: flex;
        // justify-content: center;

        margin: 0 auto;
        margin-top: toRem(25);
        gap: toRem(20);
        // width: 100%;

        .email {
          display: flex;
          align-items: center;
          gap: toRem(10);
          color: $secondary-text;
          animation-delay: 1s;
          img {
            height: 20px;
          }
          span {
            display: none;
          }
        }
        .social-icons {
          display: flex;
          gap: toRem(20);
          cursor: pointer;
          // margin-top: toRem(30);
          animation-delay: 1s;
          .icon {
            position: relative;
            height: 20px;
          }
          .tooltiptext {
            visibility: hidden;
            width: 70px;
            top: 125%;
            left: 50%;
            margin-left: -35px;
            background-color: $secondary;
            color: $primary-background;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
          }
          :hover .tooltiptext {
            visibility: visible;
          }
        }
      }
    }
  }
  .form-container {
    // min-height: 970px;
    width: 100%;
    background: $secondary-background;
    margin-top: toRem(50);

    .form {
      max-width: 500px;
      width: 90%;
      margin: 0 auto;
      padding: toRem(50) 0;
      form {
        .names {
          display: flex;
          justify-content: space-between;
          gap: toRem(35);
          animation-delay: 1.2s;
          label {
            flex: 1;
          }
        }
        .email {
          animation-delay: 1.4s;
        }
        .subject {
          animation-delay: 1.6s;
        }
        .message {
          animation-delay: 1.8s;
        }
        label {
          font-size: toRem(12);
          color: $secondary-text;
          padding-bottom: toRem(30);
          input,
          textarea {
            margin-top: toRem(5);
            width: 100%;
          }
        }
        .action-btn {
          margin: 0;
          // opacity: 0.5;
          filter: brightness(60%);
          animation-delay: 2s;
        }
      }
      form:valid .action-btn {
        opacity: 1;
        filter: brightness(100%);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .info {
      margin: toRem(120) auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(80);
      .info-inner {
        display: flex;
      }
      .img-container {
        img {
          width: 340px;
        }
      }
      .img-container {
        padding: 0;
        margin: 0;
      }
      .content {
        max-width: 400px;
      }
    }
    .form-container {
      .form {
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    margin: 0;

    .info {
      flex: 1;
      justify-content: center;
      align-items: center;
      .info-inner {
        display: flex;
        flex-direction: column-reverse;
      }

      .img-container {
        margin-top: toRem(50);
        img {
          width: 500px;
          animation-delay: 1s;
        }
      }
      .content {
        max-width: 500px;

        .contact-info {
          display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          padding-bottom: 2rem;
          left: 0;
          right: 0;
          margin: 0 auto;
          gap: 4rem;
          overflow: hidden;
          // width: 100%;
          h1 {
            animation-delay: 0.6s;
          }
          p {
            animation-delay: 0.8s;
          }
          .email {
            display: flex;
            justify-content: flex-end;
            font-size: toRem(18);
            // margin-bottom: toRem(30);
            gap: toRem(10);
            padding: 0;
            flex: 1;
            color: $secondary-text;
            animation-delay: 1.6s;
            span {
              display: block;
            }
          }
          .social-icons {
            flex: 1;
            padding: 0;
            gap: toRem(30);
            height: fit-content;
            margin: 0;
            animation-delay: 1.6s;
            overflow: hidden;
            .icon {
              height: 20px;
            }
          }
        }
      }
    }

    .form-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      margin: 0;
      .form {
        form {
          .names {
            animation-delay: 0.6s;
          }
          .email {
            animation-delay: 0.8s;
          }
          .subject {
            animation-delay: 1s;
          }
          .message {
            animation-delay: 1.2s;
          }
          .action-btn {
            animation-delay: 1.4s;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1345px) {
    .info {
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      .info-inner {
        margin-left: calc((100vw - #{$max-width}) / 2);
      }
    }
    .form-container {
      justify-content: flex-start;
      flex: 1;
      .form {
        justify-content: flex-start;
        margin-right: calc((100vw - #{$max-width}) / 2);
      }
    }
  }
}
