@import './vars.scss';
@import './functions.scss';

.contact-page {
  padding-top: $nav-height + $nav-margin-height;

  .info {
    margin: 0 auto;
    width: 90%;
    .img-container {
      width: fit-content;
      margin: 0 auto;
      margin-top: toRem(40);
      margin-bottom: toRem(30);
      img {
        object-fit: contain;
        width: 225px;
      }
    }
    .content {
      .social-icons {
        display: flex;
        gap: toRem(20);
        margin-top: toRem(30);
      }
    }
  }
  .form-container {
    width: 100%;
    background: $secondary-background;
    margin-top: toRem(50);

    .form {
      max-width: 500px;
      width: 90%;
      margin: 0 auto;
      padding: toRem(50) 0;

      .email {
        display: flex;
        align-items: center;
        gap: toRem(8);
        font-size: toRem(14);
        margin-bottom: toRem(30);
        color: $secondary-text;
      }
      form {
        .names {
          display: flex;
          justify-content: space-between;
          gap: toRem(35);
          label {
            flex: 1;
          }
        }
        label {
          font-size: toRem(12);
          color: $secondary-text;
          padding-bottom: toRem(30);
          input,
          textarea {
            margin-top: toRem(5);
            width: 100%;
          }
        }
        .action-btn {
          margin: 0;
          opacity: 0.5;
        }
      }
      form:valid .action-btn {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .info {
      margin: toRem(120) auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img-container {
        img {
          width: 340px;
        }
      }
      .flex-box {
        flex: 1;
      }
    }
    .form-container {
      .form {
        .email {
          justify-content: center;
          font-size: toRem(18);
          margin-bottom: toRem(35);
        }
      }
    }
  }
}
