@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.contact-page {
  padding-top: 4.25rem;
  min-height: 970px;
}

.contact-page .info {
  margin: 0 auto;
  width: 90%;
}

.contact-page .info .img-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

.contact-page .info .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 225px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.contact-page .info .content .text {
  font-size: 1.125rem;
}

.contact-page .info .content h1 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.contact-page .info .content p {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.contact-page .info .content .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5625rem;
  gap: 1.25rem;
}

.contact-page .info .content .contact-info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: #d6d6d6;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.contact-page .info .content .contact-info .email img {
  height: 20px;
}

.contact-page .info .content .contact-info .email span {
  display: none;
}

.contact-page .info .content .contact-info .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  cursor: pointer;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.contact-page .info .content .contact-info .social-icons .icon {
  position: relative;
  height: 20px;
}

.contact-page .info .content .contact-info .social-icons .tooltiptext {
  visibility: hidden;
  width: 70px;
  top: -125%;
  left: 50%;
  margin-left: -35px;
  background-color: #ffd082;
  color: #21243d;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 5;
}

.contact-page .info .content .contact-info .social-icons :hover .tooltiptext {
  visibility: visible;
}

.contact-page .form-container {
  width: 100%;
  background: #1b1e34;
  margin-top: 3.125rem;
}

.contact-page .form-container .form {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 3.125rem 0;
}

.contact-page .form-container .form form .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.1875rem;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.contact-page .form-container .form form .names label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-page .form-container .form form .email {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.contact-page .form-container .form form .subject {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.contact-page .form-container .form form .message {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.contact-page .form-container .form form label {
  font-size: 0.75rem;
  color: #d6d6d6;
  padding-bottom: 1.875rem;
}

.contact-page .form-container .form form label input,
.contact-page .form-container .form form label textarea {
  margin-top: 0.3125rem;
  width: 100%;
}

.contact-page .form-container .form form .action-btn {
  margin: 0;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.contact-page .form-container .form form:valid .action-btn {
  opacity: 1;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

@media screen and (min-width: 768px) {
  .contact-page .info {
    margin: 7.5rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
  .contact-page .info .info-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-page .info .img-container img {
    width: 340px;
  }
  .contact-page .info .img-container {
    padding: 0;
    margin: 0;
  }
  .contact-page .info .content {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .contact-page .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-page .info .info-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-page .info .img-container {
    margin-top: 3.125rem;
  }
  .contact-page .info .img-container img {
    width: 500px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .contact-page .info .content {
    max-width: 500px;
  }
  .contact-page .info .content .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    gap: 4rem;
    max-height: 2rem;
  }
  .contact-page .info .content .contact-info h1 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .contact-page .info .content .contact-info p {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .contact-page .info .content .contact-info .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1.125rem;
    gap: 0.625rem;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #d6d6d6;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }
  .contact-page .info .content .contact-info .email span {
    display: block;
  }
  .contact-page .info .content .contact-info .social-icons {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    gap: 1.875rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
    overflow: hidden;
  }
  .contact-page .info .content .contact-info .social-icons .icon {
    height: 20px;
  }
  .contact-page .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    margin: 0;
  }
  .contact-page .form-container .form form .names {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .contact-page .form-container .form form .email {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .contact-page .form-container .form form .subject {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .contact-page .form-container .form form .message {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .contact-page .form-container .form form .action-btn {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
}

@media screen and (min-width: 1345px) {
  .contact-page .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact-page .info .info-inner {
    margin-left: calc((100vw - 1200px) / 2);
  }
  .contact-page .form-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact-page .form-container .form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: calc((100vw - 1200px) / 2);
  }
}
/*# sourceMappingURL=contact.css.map */