@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: #21243d;
}

#__next {
  background: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  padding-bottom: 1.25rem;
}

h1 {
  font-size: 2.25rem;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  color: #d6d6d6;
  line-height: 150%;
  max-width: 600px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input,
textarea {
  outline: none;
  border: none;
  background: #21243d;
  border-radius: 10px;
  color: white;
  font-size: 0.875rem;
  padding: 0.3125rem;
}

input {
  height: 45px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.action-btn {
  color: #21243d;
  background: #ffd082;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 15px 20px;
  margin-top: 2.1875rem;
}

@media screen and (min-width: 1200px) {
  .action-btn {
    font-size: 1.5rem;
  }
}

.page {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.section {
  width: 90%;
  margin: 0 auto;
}

.highlight {
  color: #ff7c7c;
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #21243d inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeinup {
  opacity: 0;
  -webkit-animation: fadeInUp 1s ease-out;
          animation: fadeInUp 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  /* FF 5+ */
  /* Not implemented yet */
  /* IE 10+ */
  animation-fill-mode: forwards;
  /* When the spec is finished */
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeindown {
  opacity: 0;
  -webkit-animation: fadeInDown 1s ease-out;
          animation: fadeInDown 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  /* FF 5+ */
  /* Not implemented yet */
  /* IE 10+ */
  animation-fill-mode: forwards;
  /* When the spec is finished */
}
/*# sourceMappingURL=globals.css.map */