@import './vars.scss';
@import './functions.scss';

html,
body {
  padding: 0;
  margin: 0;
  color: $white;
  background: $primary-background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  padding-bottom: $title-content-padding;
}

h1 {
  font-size: toRem(36);
}

h2 {
  font-size: toRem(24);
}

p {
  padding: 0;
  margin: 0;
  font-size: toRem(18);
  color: $secondary-text;
}

.action-btn {
  display: flex;
  align-items: center;
  margin: 0;

  color: $primary-background;
  background: $secondary;

  outline: none;
  border: none;
  border-radius: $border-radius;

  font-weight: bold;
  font-size: toRem(18);
  padding: 10px 15px;

  margin-top: toRem(35);
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  // padding-top: $nav-height + $nav-margin-height;
}

.highlight {
  color: $primary;
  font-size: toRem(18);
  font-weight: bold;
}
