@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.home-page {
  overflow: hidden;
}

.home-page .container {
  max-width: 1200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .container .content {
  z-index: 5;
  width: 75%;
  min-width: 325px;
  max-width: 375px;
}

.home-page .container .content p {
  font-weight: 400;
}

.home-page .container .logo {
  z-index: 2;
  position: absolute;
  left: 50%;
  opacity: 0.9;
}

.home-page .container .background-icons {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.home-page .container .background-icons .icons {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 618px) {
  .home-page .container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home-page .container .content {
    width: 350px;
  }
  .home-page .container .content h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home-page .container .content p {
    padding: 0 !important;
    margin: 0 !important;
  }
  .home-page .logo {
    position: relative !important;
    left: 0 !important;
    opacity: 1 !important;
  }
}

@media screen and (min-width: 1200px) {
  .home-page .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home-page .container .content {
    width: 70%;
    max-width: 70% !important;
  }
  .home-page .container .content p {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 500px;
  }
  .home-page .logo {
    z-index: 5;
    position: relative !important;
    left: 0 !important;
    opacity: 1 !important;
  }
}

.background-icons-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@-webkit-keyframes a1 {
  from {
    left: -25%;
  }
  50%,
  to {
    left: 140%;
  }
}

@keyframes a1 {
  from {
    left: -25%;
  }
  50%,
  to {
    left: 140%;
  }
}

@-webkit-keyframes a2 {
  from {
    right: 20%;
    bottom: -15%;
  }
  to {
    bottom: 120%;
    right: 150%;
  }
}

@keyframes a2 {
  from {
    right: 20%;
    bottom: -15%;
  }
  to {
    bottom: 120%;
    right: 150%;
  }
}

@-webkit-keyframes a3 {
  from {
    left: -50%;
    bottom: -15%;
  }
  to {
    left: 150%;
    bottom: 250%;
  }
}

@keyframes a3 {
  from {
    left: -50%;
    bottom: -15%;
  }
  to {
    left: 150%;
    bottom: 250%;
  }
}

@-webkit-keyframes a4 {
  from {
    right: -5%;
    bottom: -15%;
  }
  to {
    right: 40%;
    bottom: 155%;
  }
}

@keyframes a4 {
  from {
    right: -5%;
    bottom: -15%;
  }
  to {
    right: 40%;
    bottom: 155%;
  }
}

@-webkit-keyframes a5 {
  from {
    right: -5%;
    top: -200%;
  }
  to {
    right: 105%;
    top: 150%;
  }
}

@keyframes a5 {
  from {
    right: -5%;
    top: -200%;
  }
  to {
    right: 105%;
    top: 150%;
  }
}

@-webkit-keyframes a6 {
  from,
  40% {
    left: -50%;
    bottom: -120%;
  }
  to {
    left: 150%;
    bottom: 250%;
  }
}

@keyframes a6 {
  from,
  40% {
    left: -50%;
    bottom: -120%;
  }
  to {
    left: 150%;
    bottom: 250%;
  }
}

@-webkit-keyframes a7 {
  from,
  50% {
    left: -10%;
    top: -10%;
  }
  to {
    left: 110%;
    top: 90%;
  }
}

@keyframes a7 {
  from,
  50% {
    left: -10%;
    top: -10%;
  }
  to {
    left: 110%;
    top: 90%;
  }
}

@-webkit-keyframes a8 {
  from,
  30% {
    left: -10%;
    bottom: 10%;
  }
  to {
    left: 150%;
    bottom: 90%;
  }
}

@keyframes a8 {
  from,
  30% {
    left: -10%;
    bottom: 10%;
  }
  to {
    left: 150%;
    bottom: 90%;
  }
}

@-webkit-keyframes a9 {
  from,
  30% {
    left: 50%;
    bottom: -10%;
  }
  to {
    left: 120%;
    bottom: 95%;
  }
}

@keyframes a9 {
  from,
  30% {
    left: 50%;
    bottom: -10%;
  }
  to {
    left: 120%;
    bottom: 95%;
  }
}

@-webkit-keyframes a10 {
  from,
  60% {
    left: 30%;
    top: -5%;
  }
  to {
    left: -10%;
    top: 60%;
  }
}

@keyframes a10 {
  from,
  60% {
    left: 30%;
    top: -5%;
  }
  to {
    left: -10%;
    top: 60%;
  }
}

@-webkit-keyframes a11 {
  from,
  60% {
    left: 50%;
    bottom: -5%;
  }
  to {
    left: 25%;
    bottom: 105%;
  }
}

@keyframes a11 {
  from,
  60% {
    left: 50%;
    bottom: -5%;
  }
  to {
    left: 25%;
    bottom: 105%;
  }
}

.item {
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.replaced-svg {
  fill: red;
  color: red;
}

.item1 {
  left: -25%;
  top: 115px;
  background: lightcoral;
  -webkit-animation: a1 60s linear infinite;
          animation: a1 60s linear infinite;
}

.item2 {
  right: 20%;
  bottom: -15%;
  background: lightblue;
  -webkit-animation: a2 20s linear infinite;
          animation: a2 20s linear infinite;
}

.item3 {
  left: -50%;
  bottom: -15%;
  background: lightgreen;
  -webkit-animation: a3 40s linear infinite;
          animation: a3 40s linear infinite;
}

.item4 {
  right: -5%;
  bottom: -15%;
  background: lightyellow;
  -webkit-animation: a4 40s linear infinite;
          animation: a4 40s linear infinite;
}

.item5 {
  right: -5%;
  top: -200%;
  background: blueviolet;
  -webkit-animation: a5 60s linear infinite;
          animation: a5 60s linear infinite;
}

.item6 {
  left: -50%;
  bottom: -120%;
  background: blueviolet;
  -webkit-animation: a6 120s linear infinite;
          animation: a6 120s linear infinite;
}

.item7 {
  left: -10%;
  top: -10%;
  background: #719eff;
  -webkit-animation: a7 60s linear infinite;
          animation: a7 60s linear infinite;
}

.item8 {
  left: -10%;
  bottom: 10%;
  background: #719eff;
  -webkit-animation: a8 60s linear infinite;
          animation: a8 60s linear infinite;
}

.item9 {
  left: 50%;
  bottom: -10%;
  background: #c3ff37;
  -webkit-animation: a9 80s linear infinite;
          animation: a9 80s linear infinite;
}

.item10 {
  left: 30%;
  top: -5%;
  background: #ff1d55;
  -webkit-animation: a10 60s linear infinite;
          animation: a10 60s linear infinite;
}

.item11 {
  left: 50%;
  bottom: -5%;
  background: #ffd5e0;
  -webkit-animation: a11 60s linear infinite;
          animation: a11 60s linear infinite;
}
/*# sourceMappingURL=home.css.map */